.p1{background-image: url('../images/icon-1.png');background-position: 0px -209px;width:89px;height:114px;}
.p2{background-image: url('../images/icon-1.png');background-position: 0px -132px;width:282px;height:72px;}
.p3{background-image: url('../images/icon-1.png');background-position: 0px 0px;width:439px;height:127px;}
